In [68]:
import tensorflow as tf
import pandas as pd
import numpy as np
import pickle
from tensorflow.keras.models import load_model

In [69]:
## load the trained model, scalar , pickle and onehot encoding
model = load_model("model.h5")
# load the gender and scalar and other pickle file
with open("oneHot_Encoder.pkl","rb") as file:
    oneHot_Encoder = pickle.load(file)
with open("label_encoder_gender.pkl","rb") as file:
    label_encoder_gender = pickle.load(file)
with open("standard_scalar.pkl","rb") as file:
    standard_scalar = pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [70]:
# input data
input_data ={
    "CreditScore":600,
    "Geography":"France",
    "Gender":"Male",
    "Age":40,
    "Tenure":3,
    "Balance":6000,
    "NumOfProducts":2,
    "HasCrCard":1,
    "IsActiveMember":1,
    "EstimatedSalary":50000
}

In [71]:
geo_encoded = oneHot_Encoder.transform([[input_data["Geography"]]]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=oneHot_Encoder.get_feature_names_out(["Geography"]))

c:\Users\sivakumar.mopuri\source\repos\DLProjects\ANNClass\venv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [72]:
input_df = pd.DataFrame([input_data]) 
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,6000,2,1,1,50000

In [73]:
input_data = pd.concat([input_df.reset_index(drop=True),geo_encoded_df],axis=1)

In [74]:
input_data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,France,Male,40,3,6000,2,1,1,50000,1.0,0.0,0.0

In [75]:
input_data["Gender"] = label_encoder_gender.transform(input_df["Gender"])
input_data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,France,1,40,3,6000,2,1,1,50000,1.0,0.0,0.0

In [76]:
input_data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,France,1,40,3,6000,2,1,1,50000,1.0,0.0,0.0

In [77]:
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,6000,2,1,1,50000

In [78]:
input_df["Gender"] = label_encoder_gender.transform(input_df["Gender"])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,6000,2,1,1,50000

In [81]:
input_df = pd.concat([input_df.drop("Geography",axis=1),geo_encoded_df],axis=1)
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,6000,2,1,1,50000,1.0,0.0,0.0

In [82]:
#scaling the input data 
input_scaled = standard_scalar.transform(input_df)

In [83]:
input_scaled

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -1.12240462,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [84]:
prediction = model.predict(input_scaled)

1/1 ━━━━━━━━━━━━━━━━━━━━ 1s 625ms/step

In [86]:
prediction_prob = prediction[0][0]

In [87]:
if prediction_prob > 0.5:
    print("Customer is likely to churun")
else:
    print("Customer is not likely to churn")

Customer is not likely to churn